<h3>Greetings {{ user }},</h3>
<br>
<p>
	Your file ({{ filename }}) was successfully processed. Please follow the link below to ... to begin exploring your genetics.
 	{{ dashboard }}
</p>
  
<p>
	Confused about some terminology? We provide resources explaining the genetic concepts behind your results as well as a series of instructional videos for making the most of ___.
</p>
<p>
	If you have any further questions please do not hesitate to contact us at support@me.com.
</p> 
<p>
	Thank you and enjoy your voyage of genetic discovery!
</p>

<p>
   Kind regards,
</p>
<p>
	The team at ME.
</p>
